<div class="container">
  <h1 class="mt-3">Lista de Categorias</h1>

  <div class="d-flex justify-content-end mt-3">
    <a [routerLink]="['/admin/categorias/add']" class="btn btn-primary">Adicionar Categorias</a>
  </div>

  <ng-container *ngIf="categorias$ | async as categorias">

    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Url</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td>{{ categoria.id }}</td>
          <td>{{ categoria.name }}</td>
          <td>{{ categoria.urlHandle }}</td>
        </tr>
      </tbody>
    </table>

  </ng-container>

</div>
