<div class="container">
  <h1 class="mt-3">Adiciona Posts</h1>

  <form #form="ngForm" (ngSubmit)="onFormEnviar()">
    <div class="mt-2 mb-5">
      <div class="mt-3">
        <label for="title" class="form-label">Título</label>
        <input type="text"
        id="title"
        name="title"
        class="form-control"
        [(ngModel)]="model.title"/>
      </div>

      <div class="mt-3">
        <label for="urlHandler" class="form-label">Url do Post</label>
        <input type="text"
        id="urlHandler"
        name="urlHandler"
        class="form-control"
        [(ngModel)]="model.ulHandler"/>
      </div>

      <div class="mt-3">
        <label for="description" class="form-label">Descrição do Post</label>
        <input type="text"
        id="description"
        name="description"
        class="form-control"
        [(ngModel)]="model.description"/>
      </div>



      <div class="mt-3">
        <label for="content" class="form-label">Conteúdo</label>
        <div class="d-flex">
          <div class="col-6 p-2">
            <textarea name="content"
            id="content"
            class="form-control"
            style="height: 350px; max-height: 350px;"
            [(ngModel)]="model.content">
          </textarea>
          </div>
          <div class="col-6 p-2" style="max-height: 350px; overflow-y: scroll;">
            <markdown [data]="model.content"></markdown>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <label for="imageUrl" class="form-label">Imagem Post</label>

        <ng-container *ngIf="model.imageUrl !== ''">
          <div>
            <img [src]="model.imageUrl" height="100" class="my-2">
          </div>
        </ng-container>

        <input type="text"
        id="imageUrl"
        name="imageUrl"
        class="form-control"
        [(ngModel)]="model.imageUrl"/>
      </div>

      <div class="mt-3">
        <label for="publishedAt" class="form-label">Data de Publicação</label>
        <input type="date"
        id="publishedAt"
        name="publishedAt"
        class="form-control"
        value="{{ model.publishAt }}"
        [ngModel]="model.publishAt | date: 'yyyy-MM-dd'"
        (ngModelChange)="model.publishAt = $event"/>
      </div>

      <div class="mt-3">
        <label for="author" class="form-label">Autor</label>
        <input type="text"
        id="author"
        name="author"
        class="form-control"
        [(ngModel)]="model.authorAt"/>
      </div>

      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" id="isVisible" name="isVisible" [(ngModel)]="model.isVisible">
        <label class="form-check-label" for="isVisible">
          Vai querer que seja visivel?
        </label>
      </div>

      <div class="mt-3">
        <label for="categorias" class="form-label">Categorias</label>

        <ng-container *ngIf="categorias$ | async as categorias">
          <select class="form-control" [(ngModel)]="model.categorias" name="categorias" id="categorias" multiple>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.name }}
            </option>
          </select>
        </ng-container>

      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>

    </div>
  </form>
</div>
