<div class="container">
  <h1 class="mt-3">Editar Posts</h1>

  <!-- Alerta do Bootstrap -->
  <div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ alertMessage }}
    <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close"></button>
  </div>
  
  <ng-container *ngIf="model">

    <form #form="ngForm" (ngSubmit)="onFormEnviar()">
      <div class="mt-2 mb-5">
        <div class="mt-3">
          <label for="title" class="form-label">Título</label>
          <input type="text"
          id="title"
          name="title"
          class="form-control"
          [(ngModel)]="model.title"/>
        </div>

        <div class="mt-3">
          <label for="imageUrl" class="form-label">Url do Post</label>
          <input type="text"
          id="imageUrl"
          name="imageUrl"
          class="form-control"
          [(ngModel)]="model.imageUrl"/>
        </div>

        <div class="mt-3">
          <label for="content" class="form-label">Breve descrição do Post</label>
          <input type="text"
          id="content"
          name="content"
          class="form-control"
          [(ngModel)]="model.content"/>
        </div>

        <div class="mt-3">
          <label for="description" class="form-label">Conteúdo</label>
          <div class="d-flex">
            <div class="col-6 p-2">
              <textarea name="description"
              id="description"
              class="form-control"
              style="height: 350px; max-height: 350px;"
              [(ngModel)]="model.description">
            </textarea>
            </div>
            <div class="col-6 p-2" style="max-height: 350px; overflow-y: scroll;">
              <markdown [data]="model.description"></markdown>
            </div>
          </div>
        </div>

        <div class="mt-3">
          <label for="ulHandler" class="form-label">Imagem Post
            <button type="button" class="btn btn-light" (click)="openImagemSelector()">Selecionar Imagem</button>
          </label>

          <ng-container *ngIf="model.ulHandler !== ''">
            <div>
              <img [src]="model.ulHandler" height="100" class="my-2">
            </div>
          </ng-container>

          <input type="text"
          id="ulHandler"
          name="ulHandler"
          class="form-control"
          [(ngModel)]="model.ulHandler"/>
        </div>

        <div class="mt-3">
          <label for="publishedAt" class="form-label">Data de Publicação</label>
          <input type="date"
          id="publishedAt"
          name="publishedAt"
          class="form-control"
          value="{{ model.publishAt }}"
          [ngModel]="model.publishAt | date: 'yyyy-MM-dd'"
          (ngModelChange)="model.publishAt = $event"/>
        </div>

        <div class="mt-3">
          <label for="author" class="form-label">Autor</label>
          <input type="text"
          id="author"
          name="author"
          class="form-control"
          [(ngModel)]="model.authorAt"/>
        </div>

        <div class="form-check mt-3">
          <input class="form-check-input" type="checkbox" id="isVisible" name="isVisible" [(ngModel)]="model.isVisible">
          <label class="form-check-label" for="isVisible">
            Vai querer que seja visivel?
          </label>
        </div>

        <div class="mt-3">
          <label for="categories" class="form-label">Categorias</label>

          <ng-container *ngIf="categorias$ | async as categories">
            <select class="form-control" [(ngModel)]="model.categories" name="categories" id="categories" multiple>
              <option *ngFor="let categorie of categories" [value]="categorie.id">
                {{ categorie.name }}
              </option>
            </select>
          </ng-container>

        </div>

        <div class="mt-3 d-flex">
          <button type="submit" class="btn btn-primary">Salvar</button>

          <button type="button" class="btn btn-danger ms-3" (click)="onDelete()">Deletar</button>
        </div>

      </div>
    </form>

  </ng-container>
</div>

<div class="imagens-container-modal" [ngClass]="{'d-block': isImagemSelectorVisible, 'd-none': !isImagemSelectorVisible}">
  <button type="button" class="btn btn-light" style="position: fixed; top: 10px;right: 10px" (click)="closeImagemSelector()">X</button>
  <app-imagem-selector></app-imagem-selector>
</div>
